.hero_container {
  margin: 20px auto;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-image: url("../assets/hero.jpeg");
  background-position: center;
  background-size: contain;
}
.hero_image {
  width: 300px;
}
.about_heading {
  font-size: 20px;
  letter-spacing: 0.15em;
  text-align: center;
  margin-top: 25px;
}
.about_me {
  color: #968e89;
  padding: 20px 30px 0 30px;
  line-height: 35px;
}
.button_container {
  display: flex;
  justify-content: center;
}
.stack_list {
  display: flex;
  justify-content: center;
  gap: 0 20px;
  flex-wrap: wrap;
}
